input[type='text'],
input[type='email'],
input[type='password'] {
    @apply bg-white w-full px-4 py-2 rounded-lg border-[3px] focus:border-terciary outline-0 border-transparent;
}

.button-terciary {
    @apply bg-terciary text-secondary font-bold w-full px-4 py-2 rounded-lg hover:scale-110 cursor-pointer transition-transform;
}

/* Estilos personalizados para el scroll del área de inputs en el LoginCard */
.scrollbar-thin {
    scrollbar-width: thin;
}

.scrollbar-thumb-terciary {
    scrollbar-color: var(--terciary) var(--secondary);
}

.scrollbar-transparent-secondary {
    scrollbar-color: var(--secondary) white;
}
.scrollbar-track-secondary::-webkit-scrollbar-track {
    background: var(--secondary);
}

.scrollbar-thumb-terciary::-webkit-scrollbar-thumb {
    background: var(--terciary);
    border-radius: 8px;
}

.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
}